*{
    font-family: Roboto, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    
}

/*/ Header area /*/
.header-info{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.links{
    display: flex;
    gap: 20px;
}

.information{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: 1;
}

.information-text, .information-image{
    width: 50%;
    flex-grow: 1;
}

.information-image{
    background-color: gray;
}

a{
    text-decoration: none;
}

.header-info h3{
    font-size: 24px;
    color: #F9FAF8;
}

.information-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.header-info a, .header-info p{
    color: #E5E7EB;
    font-size: 18px;
}

/*/ Picture area /*/

.picture-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures{
    display:flex;
    gap: 16px;
}

.image{
    display: block;
    box-sizing: border-box;
    border-radius: 10%;
    border: solid 2px rgb(0, 81, 255);
    width: auto;
    padding: 10px;
    height: 130px;
}

.picture{
    width: 130px;
    flex-shrink: 0;
}

/*/ Quote /*/

.quote{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0px;
}

.quote-name{
    margin: 0px;
    align-self: flex-end;
    font-weight: bold;
}
/*/ Signup /*/

.signup{
    background-color: #3882F6;
}
/*/ Footer /*/

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}

/*/ Common attributes /*/

button{
    background-color: #3882F6;
    color: #F9FAF8;
}

.header-info, .picture-info ,.quote, .signup, .footer{
    padding: 0px 150px 50px 150px;
}

